bcrypt==4.0.1
cryptography
fastapi[standard]
psycopg2-binary
PyMySQL
python-jose
python-multipart
sqlalchemy
uvicorn
passlib
pytest
httpx
pytest-asyncio
aiofiles
jinja2
python-dotenv
alembic
requests
paramiko
sftputil
pandas
pyarrow
fastparquet
openpyxl
starlette